/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
   }
  .center-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-blue;
  }
  .center-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
